Repository KonkretneKosteczki/folder-based-infrastructure-changes-detection-tests: changes, and which Jenkins stages are due for each by the changed paths.
All: A trigger, B trigger

Jenkinsfile:

pipeline {
    agent any
    stages {
        stage('AB trigger') {
            when {
                branch 'master'
            }
            steps {
                echo 'Deploying AB'
            }
        }
        stage('A trigger') {
            when {
                branch 'master'
                changeset pattern: "/A/**"
            }
            steps {
                echo 'Deploying A'
            }
        }
        stage('B trigger') {
            when {
                branch 'master'
                changeset pattern: "/B/**"
            }
            steps {
                echo 'Deploying B'
            }
        }
    }
}

changes to patterns and b
  B/B.txt
  Jenkinsfile
Due: B trigger

multiple changesets testing for obtaining changesets to beginwith
  Jenkinsfile
Due: none

changeset triggers
  B/B.txt
  Jenkinsfile
Due: B trigger

commit A
  A/A.txt
Due: A trigger

no extra ** at the start
  B/B.txt
  Jenkinsfile
Due: B trigger

checking which pattern is correct
  B/B.txt
  Jenkinsfile
Due: B trigger

more stages conditions
  Jenkinsfile
Due: none

neither
  Jenkinsfile
Due: none

b changes
  B/B.txt
Due: B trigger

b changes
  B/B.txt
  Jenkinsfile
Due: B trigger

neither a nor b
  Jenkinsfile
Due: none

cleanup
  Jenkinsfile
Due: none

a changes
  A/A.txt
Due: A trigger

a and b changes
  A/A.txt
  B/B.txt
Due: A trigger, B trigger
